<section id="about-me" class="section-container">
  <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">About Me</h2>
  <p class="text-slate max-w-xl text-lg mb-4" data-aos="fade-up" data-aos-delay="200">
    Hi there! I'm Sukesh Salivoju, a full-stack developer specializing in Java, Angular, and databases. 
    I am passionate about building efficient web applications, managing SQL databases, and ensuring smooth deployments. 
    I thrive on creating innovative solutions, turning ideas into reality, and am dedicated to developing dynamic, scalable, and user-centric applications 
    using modern technologies.
  </p>
  <p class="text-slate max-w-xl text-lg" data-aos="fade-up" data-aos-delay="200">
    Looking forward to sharpening my skills in a challenging environment. I guarantee enthusiasm in work and fulfilling
    my projects with inexpressible effort.
  </p>
</section>